

 
body {
  height: 100%;
}

/* 
.App {
  height: 100%; 
  width: 100%;
  position: fixed;
} */



.softwareCPRWrapper {
  height: 100%; 
  width: 100%;
  position: fixed;
}

.softwareCPRName {
  position: absolute;
  left: 30px;
}

.softwareCPRName:hover {
  color: grey;
  cursor: pointer;
}

.softwareCPRInfo {
  position: absolute;
  color: black;
  left: 186px;
  /* top: 3px;
  font-size: 28px; */
}

.softwareCPRLink {
  position: absolute;
  left: 26vw;
  color: #a23939;
  font-size: 5vw;
  font-family: Arial, Helvetica, sans-serif;
  top: -4vh;
  z-index: -1000;
  /* transform: rotate(20deg); */
}

@media only screen and (max-width: 800px) {
  .softwareCPRLink {
    left: 25vw;
    top: 13vh;
    font-size: 5.5vh;
  }
}

.softwareCPRLink:hover {
  color: grey;
  cursor: pointer;
}







.dsigWrapper {
  height: 100%; 
  width: 100%;
  position: fixed;
  background-color: #4b9b41;
}

.dsigName {
  position: absolute;
  left: 30px;
  color: gold;
}

.dsigName:hover {
  color: grey;
  cursor: pointer;
}

.dsigInfo {
  color: white;
  font-weight: 800;
  top: 400px;
  left: 69vh;
  position: absolute;
}











.parchmentInfo {
  color: black;
  font-weight: 800;
  top: 400px;
  left: 69vh;
  position: absolute;
}














.whoWillSurviveWrapper {
  height: 100%; 
  width: 100%;
  position: fixed;
  background-color: #f84949;
}

.title {
  left: 15vw;
  top: 15vh;
  position: absolute;
}

.title:hover {
  color: #4f4f4f;
  cursor: pointer;
}

.whoWillSurviveInfo {
  left: 40vw;
  top: 40vh;
  position: absolute;
}



















a {
  text-decoration: none;
}

a:visited { text-decoration: none; color: black;}
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }


h2 {
  font-size: 30px;
  font-family:'Times New Roman', Times, serif;
}

.name {
  position: absolute;
  left: 30px;
}

.name:hover {
  color: grey;
  cursor: pointer;
}






h1 {
  font-size: 15px;
  font-family:'Times New Roman', Times, serif;
  left: 45vw;
  position: absolute;
}

h1:hover {
  color: grey;
  cursor: pointer;
}


.zero {
  top: 8vh;
}

.one {
  top: 14vh;
}

.one:hover {
  color: #3d6b1f;
}






.two {
  top: 25vh;
}

.three {
  top: 29vh;
}

.four {
  top: 33vh;
}

.five {
  top: 37vh;
}







.six {
  top: 48vh;
}

.seven {
  top: 52vh;
}







.eight {
  top: 62vh;
}

@media only screen and (max-width: 500px) {
  .eight {
    top: 59.5vh;
  }
}

.nine {
  top: 65.7vh;
}

.ten {
  top: 69.5vh;
}








.eleven {
  top: 78vh;
}

.twelve {
  top: 82vh;
}

.thirteen {
  top: 86vh;
}

.fourteen {
  top: 90vh;
}






/* 

.line1 {
  width: 600px;
  height: 0;
  top: 20%;
  transform: rotate(45deg);
  border: 1px solid white;
  position: absolute;
}

.line2 {
  width: 600px;
  height: 0;
  top: 20%;
  transform: rotate(270deg);
  border: 1px solid white;
  position: absolute;
} */



