body {
  /* position: absolute; */
  height: 100%;
  overflow: hidden;
  /* margin: 0; */
	background-color: black;
}

#root {
  height: 100%; 
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
	height: 100%;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 1px;
	overflow: hidden;
	transition: background .7s ease;
	/* background-color: red; */
}


button:hover {
	border: none;
}

button:focus {
	outline: none;
}

button:active {
	translate: 4px
}








/* SCROLL BAR */



::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	display: none;
}

::-webkit-scrollbar-thumb {
  /* background-color: rgba(105, 95, 73, 0.447); */
  background-color: red;
	width: 10px;
}










/* MISC */



.hidden {
	display: none;
}


a {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: none;
	color: grey;
	cursor: pointer;
}

h1 {
	color: #B6AB92
}

h1:hover {
	color: #695F49;
}

h1:active {
	transform: translateY(4px);
}

h2 {
	/* font-style: italic; */
	font-weight: 200;
	color: #B6AB92;
}






/* MAIN SCREEN */

.userButton {
	transform: rotate(270deg);
	position: fixed;
	right: 2px;
	bottom: 200px;
}

.userButton:hover {
	color: #695F49;
}

.userButton1 {
	transform: rotate(270deg);
	position: fixed;
	right: 2px;
	bottom: 200px;
}

.userButton1:hover {
	color: #695F49;
}

.userButton2 {
	display: inline;
	/* position: fixed; */
	
	transform: rotate(0deg);
}

.userButton2:hover {
	color: #695F49;
}





.userSignIn {
  position: fixed;
	top: 44%;
	left: 50%;
}

.user {
	position: fixed;
	top: 50%;
	left: 50%;
}



.navSignButton {
	font-weight: 800;
}

.navSignButton:hover {
	color: #695F49;
	cursor: pointer;
}

.navSignButton:active {
	transform: translateY(3px);
}









/* SIGN UP AND IN */


.signInWrapper {
	width: 1
}


.signUpHeader {
	margin-top: 10vw;
	margin-left: 80vw;
	/* position: fixed;
	right: 2px; */
}

.signInHeader {
	margin-top: 10vw;
	margin-left: 80vw;
	/* position: absolute;
	right: 20px; */
}



.signUp {
	position: absolute;
	left: 8px;
	bottom: 20px;
}

.signIn {
	position: absolute;
	left: 8px;
	bottom: 20px;
}

.inputBox {
	background: transparent;
	border: 2px solid #B6AB92;
	color: #B6AB92;
	border-right: none;
	border-left: none;
	margin-left: 8px;
	height: 20px;
	font-size: 10pt;
	caret-color: #B6AB92;
	font-weight: 800;
}

.inputBox:focus {
	outline: 0
}

::placeholder {
	color: #B6AB92;
	font-weight: bold;
}

.inputBox:focus::placeholder {
	color: transparent;
	outline: 0
}

.signUpButton,
.signInButton {
	padding: 5px;
	background: transparent;
	color: #B6AB92;
	border: 2px solid #B6AB92;
	font-weight: bolder;
	font-size: 12pt;
	width: 70px;
	margin-top: 15px;
}

.signUpButton:hover,
.signInButton:hover {
	background-color: red;
	color: black;
	cursor: pointer;
}

.signUpButton:active,
.signInButton:active {
	background-color: grey;
	transform: translateY(3px);
}

.signUpButton:focus,
.signInButton:focus {
	outline: 0
}

.passwordMatch {
	margin-left: 8px;
	color: #B6AB92;
	font-weight: 800;
}

.isUserFound {
	margin-left: 8px;
	color: #B6AB92;
}

.error {
	margin-left: 8px;
	color: #B6AB92;
	font-weight: 800;
}






/* USER PROFILE PAGE */



.usernameHeader {
	margin-top: 10vw;
	margin-left: 80vw;
}

.submitArtContainer {
	position: absolute;
	left: 8px;
	bottom: 20px;
}




.artistHeader {
	position: fixed;
	top: 40%;
	left: 40%;
	color: red;
}

#artistHeader1 {
	left: 35%;
}

#artistHeader2 {
	transform: rotateZ(55deg);
}

#artistHeader3 {
	transform: rotateZ(200deg)
}

.artsContainer {
	position: absolute;
	left: 20%;
	top: 28%;
	line-height: 30px;
}



.newArtistHeader {
	color: red;
	margin-left: 20px;
	font-weight: 800;
}

.select {
	appearance: none;
	box-sizing: border-box;
	width: 80px;
	height:420px;
	border: 2px solid #B6AB92;
	border-radius: 0px;
	/* border-top: none;
	border-left: none;
	border-right: none; */
	background: transparent;
	padding: 2px;
	margin-left: 2px;
	text-align-last: center;
	color: #B6AB92;
	font-weight: 800;
}

.select:focus {
	outline: 0;
}

.select:hover {
	background:red;
	border: 2px solid black;
	color: black;
}

#artTiers,
#needTiers {
	margin-right: 5px
}

#artCategories,
#needCategories {
	margin-left: 7px;
	/* width: 80px; */
}

.categoryTier {
	margin-top: 14px;
	margin-bottom: 8px;
}

.artSubmit {
	margin-left: 15px;
}

.artSubmit,
.needSubmit {
	margin-top: 3px;
	padding: 5px;
	background: transparent;
	color: #B6AB92;
	border: 2px solid #B6AB92;
	font-weight: bolder;
	font-size: 9pt;
	width: 60px;
	height: 60px;
	border-radius: 90%;
}

.artSubmit:hover,
.needSubmit:hover {
	background-color: red;
	color: black;
	cursor: pointer;
}

.artSubmit:active,
.needSubmit:active {
	background-color: grey;
	transform: translateY(3px);
}

.artSubmit:focus,
.needSubmit:focus {
	outline: 0;
}

.signOutButton {
	transform: rotate(270deg);
	position: fixed;
	right: 2px;
	bottom: 200px;
	font-weight: 800;
}

.signOutButton:hover {
	cursor: pointer;
	color: #695F49;
}





/* ARTWORK CREATE */

.submitArt {
	
}








/* NAV WHEEL */

svg {
	z-index: 10;
}

.header {
	cursor: default;
	overflow: hidden;
	fill: rgb(255, 255, 255);
	/* text-shadow: 0 -15px 10px rgba(0, 0, 0, 0.5); */
	/* width: 2000px; */
  	letter-spacing: .04px;
  	/* letter-spacing: 8px; */
	font-size: 15px;
  	font-weight: 800;
}
.general-nav-position-and-size {
	display: inline;
	top: 0;
	position: fixed;
	z-index: 1000;
}

.welcome-nav-outlining {
	display: block;
	/* margin-left: -280px;
	top: 38vh;
	left: 50vmin; */
	position: fixed;
	top: 50%;
	left: 50%;
	transform: scale(2.8) translate(-18%, -18%);
	z-index: 1000;

	-webkit-animation: 4s ease 0s normal forwards 1 fadeout;
    animation: 4s ease 0s normal forwards 1 fadeout;
}

@keyframes fadeout{
    0% { opacity:1; }
    80% { opacity:1; }
    100% { opacity:0; }
}

@-webkit-keyframes fadeout{
    0% { opacity:1; }
    80% { opacity:1; }
    100% { opacity:0; }
}

.welcome-nav-position-and-size {
	display: block;
	/* margin-left: -280px;
	top: 38vh;
	left: 50vmin; */
	position: fixed;
	top: 50%;
	left: 50%;
	transform: scale(2.8) translate(-18%, -18%);
	z-index: 1001;

	-webkit-animation: 4.7s ease 0s normal forwards 1 fadein;
    animation: 4.7s ease 0s normal forwards 1 fadein;
}

@keyframes fadein{
    0% { opacity:0; }
    65% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes fadein{
    0% { opacity:0; }
    65% { opacity:0; }
    100% { opacity:1; }
}




@media (max-width: 1000px) {
    .header {
      /* width: 1500px; */
      /* letter-spacing: 2.3vmin; */
      /* font-size: 15px; */
    }
}

/* .circleText1:hover {
  fill: blue;
  cursor: pointer;
} */









/* NAV CIRCLE */

#nav1 {
	fill: #695F49;
}
#nav2 {
  fill: #B6AB92;
}
#nav3 {
  fill: #695F49;
}
#nav4 {
  fill: #B6AB92;
}



#nav1:hover {
  fill: red;
}
#nav2:hover {
  fill: red;
}
#nav3:hover {
  fill: red;
}
#nav4:hover {
  fill: red;
}





#ct1:hover {
	fill: red;
}

/* #tspan:hover {
	cursor: pointer;
} */

/* .graphic:hover {
	cursor: pointer;
} */

.navlink {
  /* fill: rgb(255, 255, 255); */
	/* fill: blue; */
}

.navlink:hover {
	fill: red;
	/* text-shadow: 0 -10px 7px rgba(225, 255, 77, 0.824);   */
	/* text-shadow: 0 -15px 5px rgba(0, 0, 0, 0.5); */
	/* font-size: 17px; */
	/* letter-spacing: 7.5px; */
  /* letter-spacing: 9.2px; */
	font-weight: 800;
	cursor: pointer;
}

.circleTextContainer:hover {
	cursor: default;
}

:not(svg) {
	transform-origin: 100px 100px;
}






















/* MEDIUMS GALLERY */

.collage-title {
	/* transform: rotate(270deg); */
	position: absolute;
	margin: 0 auto;
  top: 49vh;
  color: white;
	letter-spacing: 2px;
}

.entranceText {
  position: absolute;
  top: 49vh;
  color: #B6AB92;
  letter-spacing: 2px;
	left: 60vw;
	font-weight: 800;
	font-style: normal;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.medium-collage-title {
	color: black;
	letter-spacing: 2px;
}

#mediumsGalleryEntrance {
  background-color: transparent;
  margin-left: 75vw;
}

.mediumsGalleryHolder {
  margin-top: 10vh;
  display: flex;
	height: 10vh;
}

.mediumCollageHolder {
  margin-left: 125vw;
  /* margin-left: 10vw; */
  /* margin-right: 200px; */
  height: 80vh;
  width: 60vw;
  /* background-color: grey; */
}

.medium-collage {
	/* position: relative; */
	/* opacity: 0.3; */
  /* display: flex; */
  max-height: 10%;
  width: 15vh;
	/* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20px, 1px)); */
  
  /* z-index: -10; */
  /* display: inline-flex; */
}







/* ARTISTS GALLERY */


.collage-title {
	/* transform: rotate(270deg); */
	position: absolute;
	margin: 0 auto;
  top: 49vh;
  color: white;
	letter-spacing: 2px;
}

.entranceText {
  position: absolute;
  top: 49vh;
  color: #B6AB92;
  letter-spacing: 2px;
	left: 60vw;
	font-weight: 800;
	font-style: normal;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.artist-collage-title {
	color: black;
	letter-spacing: 2px;
}

#artistsGalleryEntrance {
  background-color: transparent;
  margin-left: 75vw;
}

.artistsGalleryHolder {
  margin-top: 10vh;
  display: flex;
	height: 10vh;
}

.artistCollageHolder {
  margin-left: 125vw;
  /* margin-left: 10vw; */
  /* margin-right: 200px; */
  height: 80vh;
  width: 60vw;
  /* background-color: grey; */
}

.artist-collage {
	/* position: relative; */
	/* opacity: 0.3; */
  /* display: flex; */
  max-height: 10%;
  width: 15vh;
	/* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20px, 1px)); */
  
  /* z-index: -10; */
  /* display: inline-flex; */
}









/* COLOR GALLERY */


.collage-title {
	/* transform: rotate(270deg); */
	position: absolute;
	margin: 0 auto;
  top: 49vh;
  color: white;
	letter-spacing: 2px;
}

.entranceText {
  position: absolute;
  top: 49vh;
  color: #B6AB92;
  letter-spacing: 2px;
	left: 60vw;
	font-weight: 800;
	font-style: normal;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.color-collage-title {
	color: black;
	letter-spacing: 2px;
}

#colorsGalleryEntrance {
  background-color: transparent;
  margin-left: 75vw;
}

.colorsGalleryHolder {
  margin-top: 10vh;
  display: flex;
	height: 10vh;
}

.colorCollageHolder {
  margin-left: 125vw;
  /* margin-left: 10vw; */
  /* margin-right: 200px; */
  height: 80vh;
  width: 60vw;
  /* background-color: grey; */
}

.color-collage {
	/* position: relative; */
	/* opacity: 0.3; */
  /* display: flex; */
  max-height: 10%;
  width: 15vh;
	/* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20px, 1px)); */
  
  /* z-index: -10; */
  /* display: inline-flex; */
}

#cc1 {
  margin-top: 10vh;
  width: 20vh;
}

#cc2 {
  margin-left: 40%;
  margin-top: 10%;
  /* margin-bottom: 20%; */
  /* margin-top: 30%; */
}

#cc3 {
  margin-left: 20%;
  
}

#cc4 {
  margin-left: 30%;
}

#cc5 {
  margin-left: 60%;
  margin-top: 2%;
}


.image-in-collage {
	/* filter: blur(0px) saturate(40%); */
	/* width: 200px; */
  /* height: 100%; */
	width: 100%;
	/* border-radius: 3px; */
	/* box-shadow: 0 0 2px rgba(0, 0, 0, .25); */
	/* object-fit: cover;
	object-position: top; */
}


.scrollBackButton {
	position: absolute;
	width: 10vw;
	height: 10vh;
	right: 2vh;
	border: none;
	transform-origin: 50% 50%;
}

.scrollBackButton:hover {
	cursor: pointer;
	outline: none;
}

.scrollBackButton:focus {
	outline: none;
}

.scrollBackButton:active {
	outline: none;
}


@media screen and (max-width: 500px) {
	.colorsGalleryHolder {
    display: block;
  }
  
  .colorCollageHolder {
    margin: 10px;
    margin-bottom: 1500px;
    margin-left: 15vh;
  }
  
  body {
    background-color: black;
    overflow: auto;
    height: visible;
	}
	
	.wrapper {
		overflow: auto;
	}
  
}






















/* SINGLE IMAGE PAGE */

.medium {
	margin-top: 30px;
}

#text {
	margin-top: 170px;
	margin-left: 20px;
	padding: 20px;
	background-color: #B6AB92;
	border: 2px solid black;
	min-width: 400px;
	max-height: 250px;
	overflow: auto;
}

#artTitle {
	font-size: 2.5vw;
}

#artTitle:hover {
	color: black;
}

#artTitle:active {
	transform: none;
}

#artist {
	font-size: 1.5vw;
	font-style: none;
}

#mediumText {
	font-size: 1vw;
	font-style: italic;
}

.singleImage {
	max-width: 100%;
	margin-top: 150px;
	margin-left: 160px;
	padding-bottom: 130px;
	max-height: 100%;
}

.singleImage:hover {
	cursor: default;
}

.singleDisplay {
	height: auto;
	display: flex;
	justify-content: center;
}

#artHeader {
	background-color: #B6AB92;
	border: 2px solid black;
	padding: 2px;
	bottom: 0px;
	left: 15px;
}

#artHeader:hover {
	color: red;
}

@media (hover: none) {
	.about:hover {
		color: inherit;
	}
	.website:hover {
		color: inherit;
	}
	h1:hover {
		color: inherit;
	}
	#artTitle:hover {
		color: inherit;
	}
}
