.App {

}


h2 {
  color: white;
  position: absolute;
  font-size: 80px;
}

.Metacryst {
  position: absolute;
  bottom: 30px;
  right: 0px;
  color: red;
}

.line {
  width: 600px;
  height: 0;
  top: 20%;
  transform: rotate(45deg);
  border: 1px solid white;
  position: absolute;
}